<div class="hero-unit">
  <h2 class="id"><%= lofe.id %></h2>
  <%- linkTo('Edit this lofe', editLofePath(params.id), {class: 'btn pull-right'}); %>
</div>

<h2>Lofe Properties</h2>
<% for(var i in lofe) { -%>
<% if(i !== 'saved') { -%>
<div class="row list-item">
  <div class="span4">
    <h3><%= i %></h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= i %>"><%= lofe[i] %></span></h3>
  </div>
</div>
<% } -%><% } -%>