<div class="hero-unit">
  <h2 class="name"><%= release.name %></h2>
  <%- linkTo('Edit this release', editReleasePath(params.id), {class: 'btn pull-right'}); %>
</div>

<h2>Release Properties</h2>
<% for(var i in release) { -%>
<% if(i !== 'saved') { -%>
<div class="row list-item">
  <div class="span4">
    <h3><%= i %></h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= i %>"><%= release[i] %></span></h3>
  </div>
</div>
<% } -%><% } -%>